header, footer {
    background: #000000;
}

.social_icons a {
    background: #fff;
    border-radius: 50%;
    padding: 7px;
    color: black;
}

.help-block-error {
    color: red;
}

#survey_form label{
    display: block;
}